body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#container {
    width: 600px;
    margin: auto;
    text-align: center;
}

#clock-body {
    padding: 10px;
    background: red;
    display: flex;
    border: 5px outset #AF0000;
    border-radius: 10px;
}

#clock-face {
    margin: auto;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 4em;
    font-weight: bold;
    background: black;
    color: #2eff00;
    padding: 20px;
    border: 10px inset gray;
    align-self: auto;
}
